.time-picker-wrapper {
  position: relative;
}

.time-picker-container {
  width: fit-content;
}

.time-picker-dropdown {
  position: absolute;
  background-color: var(--primary-color-lighter);
  padding: 8px;
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 240px;
  width: 196px;
  overflow: hidden;
  border-radius: 8px;
  .time-slider {
    width: 50%;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    text-align: center;
    .time-option {
      padding: 16px;
      cursor: pointer;
      &.selected {
        background-color: var(--primary-color);
      }
      &:hover {
        background-color: var(--layer-color);
      }
    }
  }
}
