.form-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  .form-row-container {
    display: flex;
    flex-direction: row;
    gap: 32px;
    width: 100%;
    span {
      margin-bottom: 20px;
      align-self: flex-end;
    }
  }
  .form-column-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
  }
  .buttons-container {
    justify-content: center;
    margin-top: 64px;
  }
}
