<div class="form-wrapper">
  <div class="form-row-container">
    <div class="form-column-container">
      <div class="form-row-container">
        <app-input
          [type]="'number'"
          [label]="'CREATE_SERVICE.FORM_FIELDS.ID'"
          [required]="true"
        ></app-input>
        <app-input
          [label]="'CREATE_SERVICE.FORM_FIELDS.NAME'"
          [required]="true"
        ></app-input>
      </div>
      <div class="form-row-container">
        <app-select
          [required]="true"
          [label]="'CREATE_SERVICE.FORM_FIELDS.AREA'"
          [options]="areaOptions"
        ></app-select>
        <app-select
          [required]="true"
          [label]="'CREATE_SERVICE.FORM_FIELDS.CLIENT'"
          [options]="clientOptions"
        ></app-select>
      </div>
      <div class="timepicker-container">
        <app-time-picker
          [required]="true"
          [label]="'CREATE_SERVICE.FORM_FIELDS.DURATION'"
        ></app-time-picker>
      </div>
      <app-checkbox
        [required]="true"
        [label]="'CREATE_SERVICE.FORM_FIELDS.ACTIVE'"
      ></app-checkbox>
    </div>
    <div class="form-column-container">
      <div class="form-row-container">
        <span>{{'CREATE_SERVICE.FORM_FIELDS.CENTER_LOC' | translate}}</span>
        <div class="form-row-container">
          <app-input
            [type]="'number'"
            [label]="'CREATE_SERVICE.FORM_FIELDS.LAT'"
            [required]="true"
          ></app-input>
          <app-input
            [type]="'number'"
            [label]="'CREATE_SERVICE.FORM_FIELDS.LNG'"
            [required]="true"
          ></app-input>
        </div>
      </div>
    </div>
  </div>
  <div class="form-row-container buttons-container">
    <app-button
      [style]="buttonStyles.PRIMARY"
      [label]="'CREATE_SERVICE.LABELS.CREATE'"
      (onClick)="handleSubmitButton()"
    ></app-button>
    <app-button
      [style]="buttonStyles.SECONDARY"
      [label]="'LABELS.CANCEL'"
      (onClick)="handleCancelButton()"
    ></app-button>
  </div>
</div>
