<div class="form-wrapper">
  <app-input
    [type]="'number'"
    [label]="'CREATE_SERVICE.FORM_FIELDS.ID'"
    [required]="true"
  ></app-input>
  <app-input
    [label]="'CREATE_SERVICE.FORM_FIELDS.NAME'"
    [required]="true"
  ></app-input>
  <app-select
    [required]="true"
    [label]="'CREATE_SERVICE.FORM_FIELDS.AREA'"
    [options]="area_options"
  ></app-select>
  <app-select
    [required]="true"
    [label]="'CREATE_SERVICE.FORM_FIELDS.CLIENT'"
    [options]="client_options"
  ></app-select>
  <app-time-picker
    [required]="true"
    [label]="'CREATE_SERVICE.FORM_FIELDS.DURATION'"
  ></app-time-picker>
  <div>
    <span>{{'CREATE_SERVICE.FORM_FIELDS.CENTER_LOC' | translate}}</span>
    <app-input
      [type]="'number'"
      [label]="'CREATE_SERVICE.FORM_FIELDS.LAT'"
      [required]="true"
    ></app-input>
    <app-input
      [type]="'number'"
      [label]="'CREATE_SERVICE.FORM_FIELDS.LNG'"
      [required]="true"
    ></app-input>
  </div>
</div>
