.table-wrapper {

  .table-menu-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .mat-mdc-table {
    border-collapse: separate;
    border-spacing: 0px 8px;
  }

  .mat-mdc-header-row {
    background-color: var(--secondary-color);
  }

  .mat-mdc-row:nth-child(odd),
  .mat-cell {
    background-color: white;
  }

  .mat-mdc-row:nth-child(even) {
    background-color: color-mix(in srgb, var(--secondary-color), transparent 95%);
  }

  td:first-child,
  th:first-child {
    border-radius: 10px 0 0 10px;
  }

  td:last-child,
  th:last-child {
    border-radius: 0 10px 10px 0;
  }

  .mat-mdc-paginator {
    border-radius: 10px;
  }

  .status {
    padding: 8px;
    border-radius: 8px;
    color: white;
  }

  .active {
    background-color: green;
  }

  .inactive {
    background-color: red;
  }

  .no-data {
    text-align: center;
    font-size: larger;
    height: 100px;
  }
}
